

<h2>PokeAPI</h2>

<hr>

<div class="list-group">

  <button routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true}"
    type="button"
    class="text-center btn btn-outline-secondary btn-lg">
    Home Page
  </button>

  <!-- li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </!-->

  <!-- <li routerLink="contact"
    routerLinkActive="active"
    class="list-group-item">
    Contact Page
  </li> -->

  <div routerLink="pokemons/by-pokemon"
    routerLinkActive="active"
    class="list-group-item">
    Por pokemon---
  </div>

  <div routerLink="pokemons/by-berries"
    routerLinkActive="active"
    class="list-group-item">
    Por berries---
  </div>

  <!-- <li routerLink="pokemons/by-pokemon"
    routerLinkActive="active"
    class="list-group-item">
    Por pokemon---
  </li> -->

</div>
